.LoginPage{
    background-color: var(--background);
    width: 100vw ;
    height: 100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginBlock {
    background-color: var(--primary);
    border: 3px solid var(--secondary) ;
    border-radius: 10px ;
    display: grid;
    grid-template-rows: min-content auto min-content;
    padding: 20px;
    justify-items: center;
}

.Heading{
    /* margin: 0 10px 10px 10px  ; */
    text-align: center ;
    font-size: 2rem ;
    font-weight: 600 ;
    color: var(--secondary) ;
}

.nameInput{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    padding: 20px 0px;
    color: var(--secondary);
    font-weight: 500;
}

.nameInput input{
    outline: none ;
    border: none ;
    background-color: transparent ;
    padding: 5px 5px 0px 5px  ;
    border-bottom: 2px dotted var(--secondary) ;
    color: var(--secondary);
    font-weight: 600;
    font-size: 1rem;
    padding-bottom: 0px;
}

.nameInput input::placeholder {
    color: var(--secondary);
    font-weight: 400;
    padding-bottom: 0px;
}

.joinBtn{
    display: flex ;
    align-items: center ;
    justify-content: center ;  
}

.joinBtn button{
    font-size: 1rem ;
    border: 3px solid var(--secondary) ;
    background-color: var(--primary);
    padding: 10px;
    border-radius: 10px;
    color: var(--secondary);
    cursor: pointer;
    font-weight: 600;
    transition-property: color, background-color;
    transition-duration: 300ms;
}

.joinBtn button:hover {
    background-color: var(--secondary);
    color: var(--primary);
}



