.Users{
    border: 3px solid var(--secondary) ;
    border-radius: 10px ;
}

.Users ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 10px;
}

.Users ul li {
    list-style-type: none;
    border: 3px solid var(--secondary);
    border-radius: 5px;
    padding: 5px;
    color: var(--secondary);
    font-weight: 600;
}

.Users ul li:hover {
    background-color: var(--secondary);
    color: var(--primary);
}